:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}
/*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}
body{
    background: var(--background);
}
section{
    width: 100%;
    overflow: hidden;
}
aside{
    width: 100%;
    background-image: url(./assets/images/side-image-2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    user-select: none;
}
header{
    padding: 40px;
}
main{
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100%;

}
.container-main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}
.container-form{
    width: 572px;
    height: 512px;
    background: var(--form-background);
    border-radius: 4px;
    margin-top: 0px;
}